<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="NaverId" value="roos2jin" />
        <add key="NaverPassword" value="tnfajrwk!!" />
        <add key="DefaultBlogId" value="rcolfree" />
        <add key="DefaultWaitTimeSeconds" value="10" />
        <add key="DefaultCommentText" value="루지니 답방왔어요 ~!
벌써 목요일이네요 ♡ 남은 한주도 화이팅해용 ~~
글 잘보고갑니당 !!
" />
    </appSettings>
</configuration>